<div class="row">
        <div class="col-md-12">
            <div class="error-template" style="text-align: center;">
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, the requested page not found!
                </div>
                <div class="error-actions mt-4">
                    <a class="btn btn-outline-grey waves-effect waves-light" href="/" target="_blank" role="button">Home
                        <i class="fa fa-home ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>