{% extends 'homePage.html' %}

{% block content %}
<div class="row">
        <div class="col-md-12">
	         <form action="" method="POST">{% csrf_token %}
	            <div class="error-template" style="text-align: center;">
						<h1>Do you want to delete the post "{{ blog_post.title}}"?</h1>
							 <div class="error-actions mt-4">
	                    		<input type="submit" value="Yes">
			                     <a class="btn btn-outline-grey waves-effect waves-light" href="/" role="button">Cancel
			                        <i class="fa fa-android ml-2" aria-hidden="true"></i>
			                    </a>
						</div>
	            </div>
			</form>               
        </div>
</div>
{% endblock %}